---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
import Greeting from '../components/Greeting';
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
   <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />

   <iframe style="aspect-ratio: 21 / 9; border-radius: 8px;" width="100%" height="auto" src="https://www.youtube.com/embed/cRen9766ykI?si=-YDeufeBWKxxcYMJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</BaseLayout>